### Q2. Write a program that takes two numbers as input and checks whether the first number is divisible by the second number.

In [1]:
num1 = int(input("enter the first number"))
num2 = int(input("enter the second number"))
divisibility= num1%num2
if divisibility==0:
    print("the first number is divisble by the second")
else:
    print("the first number is not divisble by the second ")

the first number is divisble by the second

### Q3. Write a program to print the first five odd numbers.

In [11]:
num = 0
while (num<9):
    num+=1
    if num%2==1:
        print(num)

1
3
5
7
9

### Q4. Create a list of numbers and write a program to find the sum of all elements in the list.

In [12]:
l1= [1,2,3,4]
print(sum(l1))

10

### Q5. Write a program that takes a year as input and prints whether it's a leap year.
    Every year that is exactly divisible by four is a leap year, except for years that are exactly divisible by 100, but these centurial years are leap years if they are exactly divisible by 400. For example, the years 1700, 1800, and 1900 are not leap years, but the years 1600 and 2000 are.

In [14]:

year=int(input("enter century years"))

if year/4==0 or year/400==0:
    print("the year is leap")
else: 
    print("year is not leap")

year is not leap

### Q6. Write a program that takes a string as input and prints it in both uppercase and lowercase.

In [16]:
str = "hello"
print(str.upper())
print(str.lower())

HELLO
hello

### Q7. Create a list of five elements and remove the third element.

In [17]:
l1=[1,2,33,4,5]
l1.remove(33)
print(l1)

[1, 2, 4, 5]

### Q9. Create a list of numbers and write a program to sort it in ascending order.

In [20]:
l2 = [22,4,9,37,7,6,54,7,21,71,78]
l2.sort()
print("the sorted list:",l2)

the sorted list: [4, 6, 7, 7, 9, 21, 22, 37, 54, 71, 78]

### Q10. Write a program to print the multiplication table of a given number.

In [21]:
number=int(input())
print("Multiplication table of:", number)

for i in range(1, 11):
    product = number * i
    print(f"{number} x {i} = {product}")

Multiplication table of: 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

### Q11. Write a Python function square(num) that takes a number as input and returns its square.

In [28]:
def square(num):
    print(pow(num,2))
   
num= int(input("enter the base "))
square(num)

25

### Q12. Write a Python function sum_of_digits(number) that takes an integer as input and returns the sum of its digits.

In [38]:
from unittest import result


def sum_of_digits(number):
    
    if 100<=number<=999:
        units=number%10
        tens=(number//10)%10
        hundreds = number // 100
        return  units+tens+hundreds
    else:
        print("enter a new number")
number= int(input("enter three digit number"))
sum_of_digits(number)

print("the sum of the three digits=" , sum_of_digits(number))

the sum of the three digits= 13

### Q13. Write a Python function reverse_string(s) that takes a string as input and returns the string in reverse order.

In [41]:
def revese_string(s):
    str="nice"
    print(s[::-1])

In [43]:
str="hello"
revese_string(str)

olleh

### Q14. Write a Python function word_count(sentence) that takes a sentence as input and returns the number of words in the sentence.

In [44]:
def word_count(sentence):
    
    count = len(sentence)
    print(count)
s = input("")
word_count(s)

5

### Q15. Write a Python function remove_elements(lst, n) that takes a list and an index n as input and removes the element at index n from the list.

In [55]:
def remove_elements(lst,n):
    if n<0 or n>=len(lst):
         print("Index", n, "is out of range.")
         return None
    del lst[n]
    return lst

lst1= [1,2,3,4,5,6]
remove_elements(lst1,3)

[1, 2, 3, 5, 6]

### Q16. Write a Python function duplicate_list(lst) that takes a list as input and returns a new list that duplicates the elements of the original list.

In [10]:
def dupicate_list():
    lst=[1,2,3,4,5]
    mylist=list(lst)
    print(mylist)

dupicate_list()

[1, 2, 3, 4, 5]

### Q17. Write a Python function is_divisible(num1, num2) that takes two numbers as input and returns True if the first number is divisible by the second number, and False otherwise.

In [11]:
def divisble():
    num1 = int(input("enter the first number"))
    num2 = int(input("enter the second number"))
    divisibility= num1%num2
    if divisibility==0:
        return True
    else:
        return False
divisble()

True

### Q18. Write a Python function power(base, exponent) that takes a base and an exponent as input and returns the result of the base raised to the exponent.

In [16]:
def power(base,exp):
    
    print(pow(base, exp))
base=int(input())
exp=int(input())
power(base,exp)

16

### Q19. Write a program which will find all such numbers which are divisible by 7 but are not divisible by 5, between 2000 and 3000 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [ ]:
for num in range(2000,3000 +1):
    if num%7==0 and num%5!=0:
        print(num)

### 20. Write a program which can compute the factorial of a given numbers. The results should be printed in a comma-separated sequence on a single line.
    5 8
    Then, the output should be:
    120,40320

In [19]:
n= int(input())
factorial=1
for i in range (1,n+1):
    factorial *=i
print("the factorial of", n ,"=" ,factorial)

the factorial of 5 = 120

### 21. With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.
    Suppose the following input is supplied to the program:
    8
    Then, the output should be:
    {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [21]:
n = int(input())
dic= {}
for i in range(1,n+1):
    dic[i]= i*i

print("the output will be ", dic)

the output will be  {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

### 22. Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number. Suppose the following input is supplied to the program:
    34,67,55,33,12,98
    Then, the output should be:
    ['34', '67', '55', '33', '12', '98']
    ('34', '67', '55', '33', '12', '98')

In [ ]:
data = input("Enter comma-separated numbers: ")
number_list = data.split(",")
number_tuple = tuple(number_list)

print("List:", number_list)
print("Tuple:", number_tuple)

### 23. Write a program that calculates and prints the value according to the given formula:
    Q = Square root of [(2 * C * D) / H], 
        C is 50. H is 30.
        D is the variable whose values should be input to your program in a comma-separated sequence.

- Example
    - Let us assume the following comma separated input sequence is given to the program:
        100,150,180
    - The output of the program should be:
        18,22,24

### 24. Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The element value in the i-th row and j-th column of the array should be i*j.
    Example
        Suppose the following inputs are given to the program:
        3,5
        Then, the output of the program should be:
        [[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

### 25. Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically. Suppose the following input is supplied to the program:
    hello world and practice makes perfect and hello world again
    Then, the output should be:
    again and hello makes perfect practice world

### 26.Write a program which accepts a sequence of comma separated 4 digit binary numbers as its input and then check whether they are divisible by 5 or not. The numbers that are divisible by 5 are to be printed in a comma separated sequence.

    Example:
    0100,0011,1010,1001
    Then the output should be:
    1010

### 27. Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a comma-separated sequence on a single line.

### 28. Write a program that accepts a sentence and calculate the number of letters and digits. Suppose the following input is supplied to the program:

    "hello world 123"
    Then, the output should be:
        LETTERS 10
        DIGITS 3

### 29. Write a program that accepts a sentence and calculate the number of upper case letters and lower case letters. Suppose the following input is supplied to the program:

    Hello World
    Then, the output should be:
        UPPER CASE 2
        LOWER CASE 8

### 30. Use a list comprehension to square each odd number in a list. The list is input by a sequence of comma-separated numbers. Suppose the following input is supplied to the program:
    1,2,3,4,5,6,7,8,9
    Then, the output should be:
    1,9,25,49,81

### 31. You are required to write a program to sort the (name, age, height) tuples by ascending order where name is string, age and height are numbers. The tuples are input by console. The sort criteria is:
    1: Sort based on name;
    2: Then sort based on age;
    3: Then sort by score.
    The priority is that name > age > score.

    If the following tuples are given as input to the program:
        Tom,19,80
        John,20,90
        Jony,17,91
        Jony,17,93
        Json,21,85
    Then, the output of the program should be:
    [('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Json', '21', '85'), ('Tom', '19', '80')]

### 32. Define a function that can accept an integer number as input and print the "It is an even number" if the number is even, otherwise print "It is an odd number".

In [1]:
def odd_or_even():
    number = int(input())
    if number%2==0:
        print("it's an even number")
    else:
        print("it's an odd number")

odd_or_even()

it's an even number

### 33.The Fibonacci Sequence is computed based on the following formula:
    f(n)=0 if n=0
    f(n)=1 if n=1
    f(n)=f(n-1)+f(n-2) if n>1

- Please write a program using list comprehension to print the Fibonacci Sequence in comma separated form with a given n input by console.

- Example:

    If the following n is given as input to the program:
    7
    Then, the output of the program should be:
    0,1,1,2,3,5,8

### 47. Create a tuple with three elements and unpack it into three variables.

In [2]:
tuple= ('new',2,4.8)
first,second,third = tuple
print(first)
print(second)
print(third)

new
2
4.8

### 48. Create a dictionary representing a person with keys "name," "age," and "city."

In [ ]:
person={
    "name":"Ali",
    "age":"19",
    "city":"Cairo"
}

### 49. Access and print the value associated with the "age" key in the dictionary

In [4]:
person={
    "name":"Ali",
    "age":"19",
    "city":"Cairo"
}
person.get("age")

'19'

### 50. Update the age in the dictionary to a new value.

In [6]:
person.update({"age":"20"})

### 51. Iterate through the keys and values in the dictionary and print them.

In [7]:
for key,value in person.items():
    print(f"{key} : {value}")

name : Ali
age : 20
city : Cairo

### 52. Find and print the number of key-value pairs in the dictionary.

In [8]:
print(len(person))

3

### 53. Remove the "city" key from the dictionary.

In [11]:
del person["city"]
print(person)

{'name': 'Ali', 'age': '20'}

### 54. Check if the "gender" key exists in the dictionary and print the result.

In [13]:
if "gender" in person:
     print("True")
else:
     print("False")

False

### 55. Create a second dictionary with additional information and merge it with the original dictionary.

In [15]:
d = {"gender":"male"}
person.update(d)
print(person)

{'name': 'Ali', 'age': '20', 'gender': 'male'}

### 56. Write a program to get the keys of the dictionary as a list.

In [16]:
keylist= list(person.keys())
print(keylist)

['name', 'age', 'gender']

### 57. Write a program to get the values of the dictionary as a list.

In [17]:
valuelist= list(person.values())
print(valuelist)

['Ali', '20', 'male']

### 58. Remove the key-value pair with the "name" key from the dictionary.

In [ ]:
del person["name"]
print(person)

### 59. Clear all items from the dictionary.

In [18]:
person.clear()
print(person)

{}

### 60. Write a program to print the dictionary keys in sorted order.

In [22]:
dic={'c':3, 'a':1,'b':2}
print("sorted keys:",sorted(dic.keys()))

sorted keys: ['a', 'b', 'c']

### 61. Write a program to print the dictionary values in sorted order.

In [23]:
dic={'c':3, 'a':1,'b':2}
print("sorted keys:",sorted(dic.values()))

sorted keys: [1, 2, 3]

### 62. Find and print the key with the maximum value in the dictionary.

In [25]:
dic={'c':3, 'a':1,'b':2}
print("maximum value:",max(dic.values()))

maximum value: 3

### 63. Find and print the key with the minimum value in the dictionary.

In [26]:
dic={'c':3, 'a':1,'b':2}
print("minimum value:",min(dic.values()))

minimum value: 1

### 64. Use dictionary comprehension to create a dictionary with squares of numbers from 1 to 5.

### 65. Swap the keys and values in the dictionary and print the result.

In [ ]:
original_dict = {"key1": "value1", "key2": "value2", "key3": "value3"}

# Create a new dictionary to store the swapped key-value pairs
swapped_dict = {value: key for key, value in original_dict.items()}

# Print the swapped dictionary
print(swapped_dict)

### 66. Create a list of integers with values 1 to 5.

In [68]:
listt=[1,2,3,4,5]

### 67. Access and print the third element of the list.

In [12]:
lst=[1,2,3,4,5]
third=lst[2]
print(third)

3

### 68. Modify the second element of the list to have a new value.

In [11]:
list=[1,2,3,4,5]
list.insert(1,23)
print(list)

[1, 23, 2, 3, 4, 5]

### 69. Find and print the number of elements in the list.

In [10]:
listt=[1,2,3,4,5]
count=len(listt)
print(count)

5

### 70. Add a new element to the end of the list.

In [9]:
listt=[1,2,3,4,5]
listt.append(55)
print(listt)

[1, 2, 3, 4, 5, 55]

### 71. Create two lists and concatenate them into a new list.

In [2]:
l1 = [1,2,3]
l2 = [4,5,6]
l3 = l1+l2
print(l3)

[1, 2, 3, 4, 5, 6]

### 72. Repeat the list three times and print the result.

In [18]:
l3 = l3 * 3
print(l3)

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

### 73. Create a list of numbers from 1 to 10 and print only the elements from index 3 to 7.

In [1]:
newlist=list(range(1,11))
sublist=newlist[3:7]
print(sublist)

[4, 5, 6, 7]

### 74. Use a loop to print each element of the list.

In [13]:
for i in zip(sublist):
    print(f"{i}")

(4,)
(5,)
(6,)
(7,)

### 75. Write a program to sort the list in ascending order.

In [22]:
l4 = [55,66,48,36,27,18,5,4,9,2,65,333,849,569,126]
l4.sort()
print(l4)

[2, 4, 5, 9, 18, 27, 36, 48, 55, 65, 66, 126, 333, 569, 849]

### 76. Reverse the order of elements in the list.

In [23]:
print(l4[::-1])

[849, 569, 333, 126, 66, 65, 55, 48, 36, 27, 18, 9, 5, 4, 2]

### 77. Remove the third element from the list.

In [24]:
l4.remove(65)
print(l4)

[2, 4, 5, 9, 18, 27, 36, 48, 55, 66, 126, 333, 569, 849]

### 78. Clear all elements from the list.

In [25]:
l4.clear()
print(l4)

[]

### 79. Use list comprehension to create a list of squares of numbers from 1 to 5.

In [26]:
squarelist=[num**2 for num in range (1,6)]
print(squarelist)

[1, 4, 9, 16, 25]

### 80. Create a list with three elements and unpack it into three variables.

In [27]:
l5 = [1,'##',5.5]
fs , ss , ts = l5
print(fs,ss,ts)

1 ## 5.5